.create{
	display: flex;
	margin-top: 60px;
	justify-content: center;

}
.create p{
	margin: 20px;

}
.create input{
	margin-left: 50px;
	padding: 10px 50px;
	border: none;
	border-bottom: 2px solid #333;
	
}
.create .save{
	font-size: 20px;
	padding: 15px 25px;
	margin: 150px;
	border: none;
	background-color: #1363DF;
	color: #fff;
}
.btn{
	font-size: 20px;
	padding: 15px 25px;
	margin: 50px;
	border: none;
	background-color: #1363DF;
	color: #fff;
}